name: CI/CD Pipeline

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build JAR
        run: ./gradlew bootJar -x test

      - name: Run tests
        run: ./gradlew test

  deploy:
    name: Deploy to Railway
    runs-on: ubuntu-latest
    needs: build-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'

    container:
      image: ghcr.io/railwayapp/cli:latest
    env:
      SVC_ID: abundant-adaptation
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy
        run: railway up --service=${{ env.SVC_ID }}
